
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

h1{
    color: white;
}
H2{
    color: white;
}
a{
    color: white;
    background-color: orange;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
}
a:hover{
    background-color: black;
}
.coco{
    background-image: url(images/coco.jpg);
    width: 1500px;
    height: 800px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 20px;
}

.logo{
    width: 700px;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    font-family: 'abel';
}

.logo img{
    width:300px;
}